extends ./layout/index.pug 
block compartircontenido
    .p-4
    center.h1 #{pagina}
    .p-4
    main.container.mt-5 
        .row
            .col-md-12
                h2.d-block.w-100.text-center Agregar Hotel 
                if (errores)
                    each error in errores 
                        .alert.col.alert-danger.text-center=error.mensaje
            .row.justify-content-center.col 
                .col-md-8
                    form(action="/nuevoHotel" method="POST" class="was-validated")
                        .form-group 
                            label(for="id_htl") id_htl
                            input#id_htl(type="text", placeholder="Identificador" name="id_htl", class="form-control", value=id_htl ,readonly="readonly")
                        .form-group 
                            label(for="nombre") nombre 
                            input#nombre(type="text", placeholder="tu nombre" name="nombre", required minlength = "2"
                            ,class="form-control", value=nombre)
                            .invalid-feedback Please fill out this field.
                            .valid-feedback Valid.
                        .form-group 
                            label(for="direccion") Direccion
                            input#direccion(type="text", placeholder="direccion" name="direccion", required minlength = "2"
                            ,class="form-control", value=direccion)
                            .invalid-feedback Please fill out this field.
                            .valid-feedback Valid.
                        .form-group 
                            label(for="telefono") Telefono
                            input#telefono(type="text", placeholder="tu telefono" name="telefono", required minlength = "2"
                            ,class="form-control", value=telefono)
                            .invalid-feedback Please fill out this field.
                            .valid-feedback Valid.
                        .form-group 
                            label(for="correo") Correo
                            input#correo(type="text", placeholder="tu correo" name="correo", required minlength = "2"
                            ,class="form-control", value=correo)
                            .invalid-feedback Please fill out this field.
                            .valid-feedback Valid.
                        .form-group 
                            label(for="imagen") Imagen 
                            input#imagen(type="text", placeholder="tu imagen" name="imagen", required
                            ,class="form-control", value=imagen)
                            .invalid-feedback Please fill out this field.
                            .valid-feedback Valid.
                        
                        center
                            input.btn.btn-outline-success(type="submit")